.burger {
    width: 16px;
    height: 12px;
    position: relative;
    cursor: pointer;

    > div {
        position: absolute;
        height: 2px;
        background-color: $black;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        border-radius: 5px;

        &:nth-child(1) {
            bottom: unset;
        }

        &:nth-child(3) {
            top: unset;
        }
    }
}