.burger {
    width: 16px;
    height: 12px;
    position: relative;
    cursor: pointer;
    overflow: hidden;

    > div {
        position: absolute;
        height: 2px;
        background-color: $black;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        border-radius: 5px;
        width: 100%;
        //transition: .35s;

        &:nth-child(1) {
            bottom: unset;
        }

        &:nth-child(3) {
            top: unset;
        }
    }

    &:hover {
        > div {
            &:nth-child(1) {
                //
            }

            &:nth-child(3) {
                //
            }
        }
    }
}

.burger-wrap {
    .burger {
        > div {
            //transition: .35s;
            //transition-delay: 1.35s;
        }
    }

    &.expanded {
        .burger {
            > div {
                &:nth-child(1) {
                    transform: rotate(45deg);
                    bottom: 0;
                }
    
                &:nth-child(2) {
                    width: 0;
                }
    
                &:nth-child(3) {
                    transform: rotate(-45deg);
                    top: 0;
                }
            }
        }
    }

    &[disabled] {
        pointer-events: none;
        cursor: unset;
    }
}