.contact-button {
    width: 130px;
    height: 130px;
    right: 50px;
    top: 50px;
    border-radius: 200px;
    position: fixed;
    background-color: $black;
    cursor: pointer;
    z-index: 5;

    &:hover {
        -webkit-box-shadow: 1px 2px 0px 1px rgba($black, 0.15);
        box-shadow: 1px 2px 0px 1px rgba($black, 0.15);
    }

    .contact-text {
        position: absolute;
        top: rem(22px);
        right: rem(22px);
        margin: auto;
        opacity: 1;
    }

    .close {
        position: absolute;
        margin: auto;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        pointer-events: none;
    }

    &.open {
        background-color: $white;

        .close {
            opacity: 1;
            pointer-events: auto;
        }

        .contact-text {
            opacity: 0;
        }
    }

    @include mobile {
        width: 90px;
        height: 90px;
        right: 20px;
        top: 100px;

        .contact-text {
            transform: scale(0.75);
            top: 5px;
            right: 5px;
        }
    }

    &[disabled] {
        pointer-events: none !important;
        cursor: unset;

        .close {
            pointer-events: none !important;
        }
    }
}
