.hero-header--home {
    @include scaling-val(26, 51, 26px, 51px, "margin-bottom");

    position: relative;

    //initially hidden, gsap will unhide on first render
    visibility: hidden;

    &.is-fullheight {
        .hero-body {
            align-items: flex-end;
        }
    }

    .home-header-text--wrap {
        display: none;
    }

    h1 {
        @include scaling-val(1, 100, 1px, 100px, "margin-bottom");
        //@extend .h1-jumbo;

        //max-width: 990px;
        
        font-size: 44px;
        line-height: 48px;

        //@include tablet {
            > span {
                display: block;
                overflow: hidden;
                
                > span {
                    display: block;
                }
            }
        //}

        @include tablet {
            font-size: 59px;
            line-height: 60px;
        }

        @include desktop {
            font-size: 80px;
            line-height: 86px;
        }

        @include widescreen {
            font-size: 96px;
            line-height: 96px;
        }
    }

    .home-header-text {
        position: absolute;
        top: 0;
        right: 0;
        width: 88%;
    }

    @media (max-width: 1023px) {
        &.is-fullheight {
            min-height: 80vh;
        }        
    }

    @include mobile {
        h1 {
            max-width: 460px;
        }

        .hero-body {
            padding-left: 0;
        }
        
        .container {
            padding-left: 10px;
            padding-right: 20px;
        }
        
        .home-header-text {
            position: absolute;
            top: -85px;
            right: 0;
            width: 100%;
        }

        &.is-fullheight {
            min-height: 60vh;
        }
    }
}
