.moving-text {
    position: relative;
    width: 100%;
    background-size: cover;
    background-repeat: repeat-x;
    background-image: url('../images/front-end-developer-text.svg');
    pointer-events: none;
    transition: .1s;

    @include scaling-val(164, 320, 164px, 320px, "height");
    @include scaling-val(50, 100, 50px, 100px, "top");
}
