.selected-showcase--heading-wrap {
    .columns {
        align-items: flex-end;
    }

    .column {
        &:first-child {
            p {
                text-transform: lowercase;
                font-weight: 700;
                max-width: 115px;
                line-height: 21.53px !important;
            }
        }

        &:last-child {
            a {
                @extend %cta;
            }
        }
    }
}

.selected-showcase--wrap {
    @include scaling-val(100, 147, 100px, 147px, "margin-bottom");
}
