.hero-header--home {
    @include scaling-val(26, 51, 26px, 51px, "margin-bottom");

    position: relative;

    //initially hidden, gsap will unhide on first render
    visibility: hidden;

    &.is-fullheight {
        .hero-body {
            align-items: flex-end;
        }
    }

    .home-header-text--wrap {
        display: none;
    }

    h1 {
        @include scaling-val(1, 100, 1px, 100px, "margin-bottom");
        //@extend .h1-jumbo;

        //max-width: 990px;
        
        font-size: 44px;
        line-height: 48px;

        //@include tablet {
            > span {
                display: block;
                overflow: hidden;
                
                > span {
                    display: block;
                }
            }
        //}

        &.mobile {
            display: none;
        }

        @include tablet {
            font-size: 59px;
            line-height: 60px;
        }

        @include desktop {
            font-size: 80px;
            line-height: 86px;
        }

        @include widescreen {
            font-size: 96px;
            line-height: 96px;
        }

        @media (max-width: 500px) {
            display: none;

            &.mobile {
                display: block;
            }
        }
    }

    .home-header-text {
        position: absolute;
        top: 0;
        right: 0;
        width: 88%;
        transition: opacity .35s;
    }

    @media (max-width: 1023px) {
        &.is-fullheight {
            min-height: 80vh;
        }        
    }

    @include mobile {
        h1 {
            max-width: 460px;
        }

        .hero-body {
            padding-left: 0;
        }
        
        .container {
            padding-left: 10px;
            padding-right: 20px;
        }
        
        .home-header-text {
            position: absolute;
            top: -85px;
            right: 0;
            width: 100%;
        }

        &.is-fullheight {
            min-height: 60vh;
        }
    }

    @media (min-width:769px) and (max-height: 730px) {
        .home-header-text {
            opacity: 0.1
        }
    }

    @media (max-width:768px) and (min-height: 779px) {
        &.is-fullheight {
            min-height: 50vh;
        }
    }

    @media (max-width:420px) and (min-height: 779px) {
        &.is-fullheight {
            min-height: 55vh;
        }
    }

    //1024 1366    
    @media (min-width: 1024px) and (min-height: 1100px) { 
        &.is-fullheight {
            min-height: 70vh;
        }
    }

    /*
    @media (max-width: 1023px) and (min-height: 780px) {
        &.is-fullheight {
            min-height: 60vh;
        }
    }
    */

    @media (min-width: 1024px) and (min-height: 780px) { 
        &.is-fullheight {
            min-height: 100vh;
        }
    }

    @media (min-height: 900px) and (min-width: 769px) and (max-width: 1024px) {
        &.is-fullheight {
            min-height: 60vh;
        }        
    }
}
