.work-content-images {
    @include scaling-val(76, 124, 76px, 124px, "margin-bottom");

    .content-images-grid {
        display: grid;
        grid-gap: 25px;
    
        > div {
            //background-color: $pale-red;
    
            img {
                margin-bottom: 0;
            }
        }

        @include desktop {
            &.content-images--1,
            &.content-images--2 {
                grid-template-columns: auto;
            }
        
            &.content-images--3 {
                grid-template-columns: repeat(2, 1fr);
    
                > div {
                    &:first-child {
                        grid-column: 1 / 3;
                        grid-row: 1/2;
                    }
                }
            }
        
            &.content-images--4 {
                grid-template-columns: repeat(2, 1fr);
            }
        }
    }

    .content-images--caption {
        p {
            @include scaling-val(42, 26, 42px, 26px,"padding-top");

            max-width: 375px;
        }

        @include desktop {
            &.right {
                p {
                    margin-left: auto;
                }
            }

            &.center {
                p {
                    margin-left: auto;
                    margin-right: auto;
                }                
            }
        }
    }
}
