.work-block {
    position: relative;

    .hire-me-cta {
        @include scaling-val(0, 85, 0px, 85px, "right");
        
        position: absolute;
        top: -50px;
    }

    .content-media--caption {
        p {
            @include scaling-val(42, 26, 42px, 26px,"padding-top");

            max-width: 375px;
        }

        @include desktop {
            &.right {
                p {
                    margin-left: auto;
                }
            }

            &.center {
                p {
                    margin-left: auto;
                    margin-right: auto;
                }                
            }
        }
    }
}
