footer {
    @include scaling-val(68, 158, 68px, 158px, "padding-bottom");

    li a,
    p {
        @include scaling-font(18, 50, 18px, 50px);
        @include scaling-val(21, 60, 21px, 60px, "line-height");

        color: $black;

        @include widescreen {
            font-size: 66px;
            line-height: 76px;
        }
    }

    .columns {
        @extend .is-mobile;
    }

    .column--copyright {
        p {
            @include scaling-val(145, 550, 145px, 550px, "max-width");
        }
    }

    .column--menu {
        @extend .has-text-right;
    }
}
