.work-nav-bar {
    z-index: 1;

    h2 {
        @extend .h2;
        @include scaling-val(45, 52, 45px, 52px, "line-height");
        @include scaling-val(30, 73, 45px, 73px, "margin-bottom");

        font-family: $font-jumbo;

        > span {
            //@extend %branding;
            @extend %cta;
            
            display: block;
            color: $black;
            letter-spacing: 0;
            font-family: $alatsi;
            font-size: 13px;
        }
    }

    h4 {
        @include scaling-val(20, 29, 20px, 29px, "line-height");

        max-width: 110px;
        font-family: $font-jumbo;
        text-transform: uppercase;
    }

    .back-cta {
        @include mobile {
            svg,
            img,
            h4 {
                display: inline-block;
            }

            svg,
            img {
                position: relative;
                top: 7px;
                margin-right: 10px;
            }

            h4 {
                max-width: unset;
            }
        }
    }

    @include tablet {
        position: fixed;
        left: 50px;
        height: 100%;
        top: 0;

        &::after {
            width: 1px;
            height: 100%;
            background-color: $black;
            right: 0;
            top: 0;
            bottom: 0;
            margin: auto;
            content: "";
            position: absolute;
        }
    }
}


@include mobile {
    .work-nav-bar {
        position: relative;
        padding: 30px 15px;
        margin-bottom: 45px;

        h2 {
            margin-top: 10px;
            margin-bottom: 20px;
        }

        &::after {
            bottom: 0;
            left: 0;
            content: "";
            width: 100%;
            height: 1px;
            background-color: $black;
            position: absolute;
        }
    }
}

@include tablet {
    .work-layout {
        .work-wrap,
        footer .container {
            position: relative;
            padding-left: 45px;
            padding-right: 45px;
            margin: 0;
            max-width: unset !important;
        }
    }
}

@include tablet-only {
    .work-nav-bar {
        padding: 30px 20px;
        width: 200px;
    }

    .work-layout {
        .work-wrap,
        footer .container {
            left: 250px;
            width: calc(100% - 250px);
        }
    }
}

@include desktop-only {
    .work-nav-bar {
        padding: 30px 20px;
        width: 225px;
    }

    .work-layout {
        .work-wrap,
        footer .container {
            left: 275px;
            width: calc(100% - 275px);
        }
    }
}

@include widescreen-only {
    .work-nav-bar {
        padding: 40px 30px;
        width: 250px;
    }

    .work-layout {
        .work-wrap,
        footer .container {
            left: 300px;
            width: calc(100% - 300px);
        }
    }
}

@include fullhd {
    .work-nav-bar {
        padding: 50px 40px;
        width: 275px;
    }

    .work-layout {
        .work-wrap,
        footer .container {
            left: 325px;
            width: calc(100% - 325px);
        }
    }
}

.work-wrap {
    &.work-landing {
        min-height: 100vh;

        @include widescreen {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(calc(50% - 38px), 2fr));
            grid-row-gap: 75px;
            grid-column-gap: 38px;
            padding-bottom: 75px;
            padding-top: 87px;

            > .work-post-wrap {
                display: flex;
                height: 750px;
                position: relative;

                &:nth-child(odd) {
                    align-items: flex-start;
                }

                &:nth-child(even) {
                    align-items: flex-end;
                }
            }
        }
    }
}

/*
.work-post-wrap  {
    .work-post {
        position: relative;
    
        .work-post--wiper {
            position: absolute;
            height: 100%;
            width: 100%;
            pointer-events: none;
            top: 0;
            left: 0;
    
            &::before,
            &::after {
                position: absolute;
                height: 0;
                width: 100%;
                transition: 0.75s;
                content: "";
            }
    
            &::before {
                background-color: $pale-red;
            }
    
            &::after {
                transition-delay: 0.45s;
                background-color: $white;
            }
        }
    }

    &.in-transit {
        .work-post--wiper {
            &::before,
            &::after {
                height: 100%;
            }
        }
    }
}
*/

.work-landing {
    .work-landing--wipers {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        pointer-events: none;
        //display: none;

        .work-landing--wiper {
            //transform: skewY(0deg);
            width: 100%;
            height: 100%;
            top: 0;
            //left: 0;
            position: fixed;
            display: none;
            //background-color: $pale-red;
            //transform: translate(0px, -100%) skewY(6deg);

            &:first-child {
                background-color: $pale-red;
            }
    
            &:last-child {
                background-color: $white;
            }
        }
    }
}

.work-post {
    width: 100%;
    
    .work-post--featured-img {
        width: 100%;
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        z-index: 1;
    }

    .work-post--detail {
        display: grid;
        grid-template-columns: auto auto;

        .name {
            h3 {
                max-width: 260px;
                padding-top: 7px;
            }
        }

        .meta {
            .meta-list {
                @extend .has-text-right;

                width: 145px;
                float: right;
                padding-top: 16px;

                li {
                    font-family: $daily-tabloid-jnl;
                    font-size: 16px;
                    line-height: 18px;
                    letter-spacing: 0.2em;
                    text-align: right;
                    display: inline;
                }
            }
        }
    }
}

.work-post {
    @include scaling-val(46, 70, 46px, 70px, "margin-bottom");

    width: 100%;

    .work-post--featured-img {
        background-color: $pale-red;
        width: 100%;
        height: 300px;
    }

    a {
        color: $black;
    }
}

.work-post {
    &.work-post--assure-programs {
        .work-post--featured-img {
            background-size: cover;
        }
    }
}



//temp styles
@include widescreen {
    .work-post {
        width: 100%;
    
        &.work-post--vee-design {
            .work-post--featured-img {
                height: 513px;
            }
        }

        &.work-post--assure-programs {
            .work-post--featured-img {
                height: 428px;
            }
        }

        &.work-post--choremaster {
            max-width: 396px;

            .work-post--featured-img {
                height: 231px;
            }
        }

        &.work-post--petrichor-co {
            .work-post--featured-img {
                height: 316px;
            }
        }

        &.work-post--panthera {
            .work-post--featured-img {
                height: 316px;
            }
        }
    }
}

