.work-single {
    &.work-single--auscert-conference,
    &.work-single--watch-my-wilderness {
        .work-wrap {
            .work-single--header {
                .work-single-header--inner {
                    h1 {
                        color: $pale-red;
                    }
                }
            }
        }
    }

    @include mobile {
        .work-nav-bar {
            margin-bottom: 0;
        }
    }
}

.work-single--header {
    @include scaling-val(49, 100, 49px, 100px, "padding-bottom");

    padding-top: 56px;
    position: relative;
    opacity: 0;

    h1 {
        display: none;
        font-family: $font-jumbo; 
        text-align: center;
        display: inline-block;
        white-space: nowrap;
        z-index: 3;
    }

    .work-single-header--inner {
        h1 {
            position: absolute;
            top: 50px;

            @include mobile {
                display: none !important;
            }
    
            @include tablet {
                display: block !important;
            }
        }
    }

    .header--no-image {
        height: 20vh;
        display: flex;
        align-items: center;

        @include widescreen {
            height: 35vh;
        }
    }

    .featured-image {
        @include scaling-val(12, 45, 12px, 45px, "margin-bottom");

        height: auto;
        width: 100%;
    }

    .featured-image--wrap {
        overflow: hidden;
        position: relative;

        .wiper {
            width: 100%;
            height: 100%;
            background-color: $white;
            position: absolute;
            margin: auto;
            z-index: 1;
        }
    }

    div.featured-image {
        @include scaling-val(212, 568, 212px, 568px, "height");
        
        background-color: $pale-red;
    }

    h4 {
        @include scaling-font(25, 40, 25px, 40px);
        @include scaling-val(28, 41, 28px, 41px, "line-height");

        margin-bottom: 5px;
        display: inline-block;
        clear: both;

        > span {
            display: inline-block;
            padding-right: 50px;
            overflow: hidden;
            position: relative;
            padding-top: 5px;

            &::after {
                background-color: $pale-red;
                height: 40px;
                width: 40px;
                content: "";
                position: absolute;
                right: 4px;
                top: -4px;
                bottom: 0;
                margin: auto;
                border-radius: 100%;
                transition: .35s;
                transition-delay: .35s;
                transform: scale(0);
            }

            img {
                transform: rotate(180deg) skewY(3deg);
                position: absolute;
                top: -5px;
                bottom: 0;
                margin: auto;
                right: -30px;
                transition: .35s;
                transition-delay: .25s;
                //transform: rotate(180deg) skewY(0deg);
                //right: 10px;
                z-index: 1;
            }

            .inner-container {
                overflow: hidden;
                position: relative;
                display: inline-block;
                padding-bottom: 6px;
                
                span {
                    content: "";
                    background-color: $black;
                    height: 3px;
                    width: 0%;
                    position: absolute;
                    bottom: 0;
                    right: 0;          

                    &:nth-child(1) {
                        background-color: $pale-red;
                        transition: 0.45s;
                        transition-delay: 0.35s;
                    }
                    
                    &:nth-child(2) {
                        background-color: $red;
                        transition: 0.45s;
                        transition-delay: 0.25s;
                    }
                    
                    &:nth-child(3) {
                        background-color: $black;
                        transition: 0.45s;
                        transition-delay: 0.15s;
                    }
                }
            }
        }
    }

    a {
        h4 {
            &:hover {
                &:hover {
                    > span {
                        img {
                            transform: rotate(180deg) skewY(0deg);
                            right: 10px;
                        }
        
                        &::after {
                            transform: scale(1);
                        }
        
                        .inner-container {
                            span {
                                width: 100%;
                                right: unset;
                                left: 0;
            
                                &:nth-child(3) {
                                    transition-delay: 0.35s;
                                }
                                
                                &:nth-child(2) {
                                    transition-delay: 0.25s;
                                }
                                
                                &:nth-child(1) {
                                    transition-delay: 0.15s;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    p {
        @include scaling-font(14, 24, 14px, 24px);
        @include scaling-val(18, 28, 18px, 28px, "line-height");

        color: rgba($black, 0.4);
    }

    @include mobile {
        padding-top: 0;

        .work-single-header--inner {
            width: calc(100% + 30px);
            position: relative;
            left: -15px;
        }
    }
}

.work-footer-nav {
    @include scaling-val(45, 187, 45px, 187px, "padding-bottom");

    p {
        display: inline-block;

        .dashing-hover-line {
            &::after {
                bottom: -3px;
            }
        }

        span.arrow {
            height: 32px;
            width: 32px;
            overflow: hidden;
            display: inline-block;
            position: relative;

            svg {
                position: absolute;
                top: 14px;
                left: 0;
                bottom: 0;
                right: 0;
                margin: auto;
                transition: $transition;

                &:first-child {
                    transition-delay: 0.15s;
                }

                &:last-child {
                    transition-delay: 0.1s;
                }
            }
        }

        &:hover {
            span.arrow {
                svg {
                    &:first-child {
                        transition-delay: 0.1s;
                    }
    
                    &:last-child {
                        transition-delay: 0.15s;
                    }
                }
            }
        }
    }

    .left {
        @extend .has-text-left;

        p {
            span.arrow {
                margin-right: 12px;

                svg {
                    right: unset;

                    &:first-child {
                        left: 2px;
                    }

                    &:last-child {
                        left: 30px;
                    }
                }
            }

            &:hover {
                span.arrow {
                    svg {
                        &:first-child {
                            left: -30px;
                        }

                        &:last-child {
                            left: 2px;
                        }
                    }
                }
            }
        }
    }

    .right {
        @extend .has-text-right;

        p {
            span.arrow {
                margin-left: 12px;

                svg {
                    transform: rotate(180deg);
                    left: unset;

                    &:first-child {
                        right: 2px;
                    }

                    &:last-child {
                        right: 30px;
                    }
                }
            }

            &:hover {
                span.arrow {
                    svg {
                        &:first-child {
                            right: -30px;
                        }
    
                        &:last-child {
                            right: 2px;
                        }
                    }
                }
            }
        }
    }

    @media (max-width: 1023px) {
        p span.arrow {
            top: 3px;
        }
    }
}
