@-webkit-keyframes rotating {
    from {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
    to {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
  }
  
  @-o-keyframes rotating {
    from {
      -o-transform: rotate(360deg);
      transform: rotate(360deg);
    }
    to {
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
    }
  }

  @keyframes rotating {
    from {
      -webkit-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg);
    }
    to {
      -webkit-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
    }
  }



@keyframes moving-more-text-left {
  from {
    background-position-x: 0;
  }
  to {
    background-position-x: -277px;
  }
}

@keyframes moving-more-text-right {
  from {
    background-position-x: 0;
  }
  to {
    background-position-x: 277px;
  }
}

  