%branding {
    letter-spacing: 0.27em;
    text-transform: uppercase;
    font-family: $alatsi;
}

%vertical-text {
    transform: rotate(-90deg);
    white-space: nowrap;
}

%cta { 
    font-size: 10px;
    line-height: 13px;
    letter-spacing: 0.27em;
    color: $primary;
}
