%branding {
    letter-spacing: 0.27em;
    text-transform: uppercase;
    font-family: $alatsi;
}

%vertical-text {
    transform: rotate(-90deg);
    white-space: nowrap;
}

%cta { 
    font-size: 10px;
    line-height: 13px;
    letter-spacing: 0.27em;
    color: $primary;
    text-transform: uppercase;
}

.dashing-hover-line {
    position: relative;
  
    &::after {
      content: "";
      background-color: $black;
      height: 3px;
      width: 0%;
      position: absolute;
      bottom: 0;
      right: 0;
      transition: $transition;
    }
  
    &:hover {
      &::after {
        width: 100%;
        right: unset;
        left: 0;
      }
    }
  
    &--primary {
      &::after {
        background-color: $red;
      }
    }
  
    &--secondary {
      &::after {
        background-color: $black;
      }
    }

    &--white {
        &::after {
          background-color: $white;
        }
      }
  }