@import url('https://fonts.googleapis.com/css2?family=Alatsi:wght@400&family=Inter:wght@400;500&display=swap');

$white: #fff;
$black: #000;
$alatsi: 'Alatsi', sans-serif;
$inter: 'Inter', sans-serif;
$font: $inter;
$red: #ec2a2a;
$pale-red: #ffe8e8;
$primary: $red;
$body-font: $alatsi;
$picture-transition: 1000ms;
$transition: 350ms;
$transition-slow: 750ms;
$base__font-size: 16px;