@import url('https://fonts.googleapis.com/css2?family=Alatsi:wght@400&family=Inter:wght@400;500&display=swap');

$white: #fff;
$black: #000;
$alatsi: 'Alatsi', sans-serif;
$inter: 'Inter', sans-serif;
$body-font: $alatsi;
