$colors: (
	"white": $white,
	"black": $black,
    "red": $red,
    "pale-red": $pale-red,
);

@each $color-name, $color-val in $colors {
    .aa-#{$color-name}--bg {
        background: unset !important;
        background-image: unset !important;
        background-color: $color-val !important;
    }

    .aa-#{$color-name}--text {
        color: $color-val !important;
    }
}

.skew-hover {
    transform: skewX(0deg);
    transition: 0.15s;
    display: inline-block;

    &:hover {
        transform: skewX(4deg);
    }
}

%body-href {
    transition: .3s;
    display: inline;
    text-decoration:none;
    color: $black;
    padding-bottom: 5px;
    background: linear-gradient(to right, $pale-red 0%, $pale-red 98%);
    background-size:100% 2px;
    background-repeat: no-repeat;
    background-position:left 85%;
    position: relative;
    overflow: hidden;
    
    &:hover{
        background-size:100% 14px;
        color: $red;
    }
}

%list {
    padding-left: 20px;

    li {
        @include scaling-val(5, 10, 5px, 10px, "margin-bottom");

        display: block;
        position: relative;

        &::before {
            width: 10px;
            height: 2px;
            background-color: $black;
            left: -20px;
            position: absolute;
            top: 15px;
            content: "";
        }

        &:last-child {
            @include scaling-val(15, 20, 15px, 20px, "margin-bottom");
        }
    }

    @include mobile {
        padding-left: 15px;

        li {
            &::before {
                height: 1px;
                top: 10px;
                width: 7px;
                left: -13px;
            }
        }
    }
}

%text-as-spans-hover {
    span {
        $delay: 0.05;
        opacity: 1;
        color: #fff;

        @for $i from 1 through 10 {
            &:nth-child(#{$i}) {
                transition: color 0.2s;
                transition-delay: #{$delay}s;
            }

            $delay : $delay + 0.05;
        }
    }

    &:hover {
        transform: translate(0px, 0px) skew(4deg,0) !important;
        transition: 0.35s;

        span {
            color: $red;
        }
    }
}

.has-bg {
    background-color: $pale-red;
}